header {
  margin-top: 20px;
}
#profile_img {
  width: 88px;
  height: 88px;
  border-radius: 275px;
}

#twitter {
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}
button {
  padding: 24px 32px;
  gap: 8px;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
a {
  text-decoration: none;
}
#btn__zuri {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
.subtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 9px;
  color: #101828;
}
#books {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
#book__python {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
#pitch {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
#book__design {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
.social-links {
  margin-top: 48px;
}
.space {
  margin-right: 26.25px;
}
.dot {
  color: #e7332b;
}
